{% extends 'root.html' %}
{% block title %}Settings{% endblock %}
{% block script %}{% endblock %}
{% block content %}
    <div class="setting-page">
        <h1>Settings</h1>
        <h3>Currently changing slide after: {{ timeout_sec }} seconds</h3>
        <form action="/settings-confirm" method="POST">
            <ul>
                <li>
                    <label>
                        Set slide-change time to:
                        <select id="timeout-sec" name="timeout-sec">
                            {% for i in range(4, 33, 4) %}
                                <option value="{{ i }}" {% if i == timeout_sec %}selected{% endif %}>{{ i }}</option>
                            {% endfor %}
                        </select>
                    </label>
                </li>
                <li>
                    <label>
                        Refresh image list? (check box for yes):
                        <input class="checkbox" type="checkbox" id="refresh" name="refresh">
                    </label>
                </li>
            </ul>
            <button type="submit">DONE</button>
        </form>
    </div>
{% endblock %}